# Data cleaning

The data seen in this notebook was scraped from the autotrader website. This notebook will do the following:

- Read the vehicle features table and the sellers table in the database created with the scraper [here](#read_data)
- Explore initial descriptive information about dataset [here](#explore_data)
- Outline the cleaning process prior to EDA [here](#clean_data)

In [1]:
import pandas as pd
import mysql.connector
from autotrader_scraper.autotrader_scraper.config import mysql_details

## Read data tables into pandas <a id='read_data'></a>

Connect to database and join vehicle features with sellers infomation.

In [2]:
DB_NAME = 'autotrader_adverts'

cnx = mysql.connector.connect(**mysql_details)
cursor = cnx.cursor(dictionary=True)

cursor.execute("USE {}".format(DB_NAME))
cursor.execute('''SELECT * 
                  FROM vehicle_features as vf
                  LEFT JOIN sellers as s
                  ON vf.seller_id=s.seller_id
                  ORDER BY date_scraped ASC, time_scraped ASC''')
full_results = cursor.fetchall()
cnx.close()

In [3]:
full_df = pd.DataFrame(full_results)
full_df.head(10)

,advert_id,date_scraped,time_scraped,make,model,trim,manufactured_year,manufactured_year_identifier,body_type,mileage,...,total_reviews,region,county,town,country,seller_postcode,seller_address_one,seller_address_two,dealer_website,primary_contact_number
0,202107165101873,2021-08-22,0 days 00:55:25,DS AUTOMOBILES,DS 3,Prestige,2018.0,18,Hatchback,31537.0,...,13067.0,SOUTH EAST,KENT,ADDINGTON,GB,ME19 5PL,A20 London Road,None,https://www.bigmotoringworld.co.uk/autotraderv...,01634215708
1,202009113616600,2021-08-22,0 days 00:55:29,Vauxhall,Astra,SXi,2007.0,07,Hatchback,70000.0,...,18.0,LONDON,MIDDLESEX,HOUNSLOW,GB,TW4 6JQ,"VISTA BUSINESS CENTRE, SALISBURY ROAD",None,https://www.motorpedia.uk/,02080337311
2,202107305627204,2021-08-22,0 days 00:55:29,Volkswagen,Polo,Moda,2010.0,60,Hatchback,89000.0,...,125.0,LONDON,HERTFORDSHIRE,BARNET,GB,EN5 4RY,BENTLEY HEATH LANE,None,http://www.mynextcar.co.uk,02081152043
3,202108206481776,2021-08-22,0 days 00:55:30,Vauxhall,Astra,SXi,2008.0,08,Hatchback,117000.0,...,7.0,LONDON,ESSEX,ILFORD,GB,IG3 8RW,777-779 High Road,Seven Kings,https://dmsgateway.autotrader.co.uk/api/advert...,07441907724
4,202108206471965,2021-08-22,0 days 00:55:30,Mazda,Mazda3,Sport,2007.0,07,Hatchback,93500.0,...,18.0,SOUTH WEST,WILTSHIRE,SWINDON,GB,SN1 2PG,"UNIT 10-11, ISIS TRADING ESTATE",None,https://dmsgateway.autotrader.co.uk/api/advert...,07537125171
5,202108136200337,2021-08-22,0 days 00:55:30,Vauxhall,Astra,Club,2004.0,54,Hatchback,73888.0,...,10.0,SOUTH EAST,SURREY,WORCESTER PARK,None,None,None,None,None,07971223786
6,202108045818203,2021-08-22,0 days 00:55:30,Volvo,S40,SE,2005.0,55,Saloon,160000.0,...,15.0,LONDON,MIDDLESEX,LONDON,GB,None,None,None,https://dmsgateway.autotrader.co.uk/api/advert...,07537165960
7,202108206446218,2021-08-22,0 days 00:55:31,Ford,Fiesta,Ghia,2006.0,06,Hatchback,63000.0,...,13.0,SOUTH EAST,EAST SUSSEX,UCKFIELD,None,None,None,None,None,07971243842
8,202108206442132,2021-08-22,0 days 00:55:31,MINI,Hatch,Cooper,2004.0,04,Hatchback,63977.0,...,37.0,LONDON,SURREY,WANDSWORTH,GB,SW18 4QA,"152-156, Penwith Road",None,None,07537165675
9,202105243041206,2021-08-22,0 days 00:55:31,Vauxhall,Corsa,SE,2009.0,09,Hatchback,100843.0,...,128.0,NORTH WEST,CHESHIRE,NORTHWICH,GB,CW8 1BE,Unit 5 RIVERSIDE TRADING ESTATE,NAVIGATION ROAD,https://dmsgateway.autotrader.co.uk/api/advert...,07537164943

## Explore data <a id='explore_data'></a>

In [4]:
full_df.shape

(27808, 77)

Some of the columns contain nulls and some of the data types are incorrect.

In [5]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27808 entries, 0 to 27807
Data columns (total 77 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   advert_id                     27808 non-null  int64
 1   date_scraped                  27808 non-null  object
 2   time_scraped                  27808 non-null  timedelta64[ns]
 3   make                          27808 non-null  object
 4   model                         27808 non-null  object
 5   trim                          26792 non-null  object
 6   manufactured_year             27787 non-null  float64
 7   manufactured_year_identifier  27508 non-null  object
 8   body_type                     27790 non-null  object
 9   mileage                       27761 non-null  float64
 10  engine_size                   27565 non-null  object
 11  transmission                  27807 non-null  object
 12  fuel_type                     27807 non-null  object
 13  doors                         27769 non-null  float64
 14  seats                         27272 non-null  float64
 15  number_of_owners              15056 non-null  float64
 16  emission_scheme               18610 non-null  object
 17  vehicle_location_postcode     22914 non-null  object
 18  vehicle_location_latitude     22914 non-null  object
 19  vehicle_location_longitude    22914 non-null  object
 20  vehicle_registration_mark     27639 non-null  object
 21  derivative_id                 27807 non-null  object
 22  car_condition                 27808 non-null  object
 23  imported                      27808 non-null  int64
 24  average_mileage               26678 non-null  float64
 25  mileage_deviation             26678 non-null  float64
 26  mileage_deviation_type        26678 non-null  object
 27  ad_description                27808 non-null  object
 28  price                         27808 non-null  int64
 29  price_excluding_fees          27808 non-null  int64
 30  no_admin_fees                 27808 non-null  int64
 31  price_deviation               17964 non-null  float64
 32  price_deviation_type          17964 non-null  object
 33  price_rating                  17964 non-null  object
 34  price_rating_label            17964 non-null  object
 35  seller_id                     23941 non-null  float64
 36  page_url                      26716 non-null  object
 37  number_of_photos              27808 non-null  int64
 38  co2_emission                  27329 non-null  float64
 39  tax                           26254 non-null  float64
 40  zero_to_sixty                 19623 non-null  object
 41  zero_to_sixty_two             9394 non-null   object
 42  top_speed                     26653 non-null  float64
 43  cylinders                     27801 non-null  float64
 44  valves                        27801 non-null  float64
 45  engine_power                  27805 non-null  float64
 46  engine_torque                 26321 non-null  object
 47  height                        27055 non-null  float64
 48  length                        27089 non-null  float64
 49  wheelbase                     27036 non-null  float64
 50  width                         27007 non-null  float64
 51  fuel_tank_capacity            25648 non-null  object
 52  gross_vehicle_weight          9641 non-null   float64
 53  boot_space_seats_up           23318 non-null  float64
 54  boot_space_seats_down         18017 non-null  float64
 55  max_loading_weight            4791 non-null   float64
 56  minimum_kerb_weight           22139 non-null  float64
 57  urban                         20655 non-null  object
 58  extra_urban                   20669 non-null  object
 59  combined                      26205 non-null  object
 60  co2_emissions                 27336 non-null  float64
 61  insurance_group               26528 non-null  object
 62  seller_name                   23940 non-null  object
 63  is_dealer_trusted             23941 non-null  float64
 64  seller_longlat                23256 non-null  object
 65  seller_segment                23469 non-null  object
 66  seller_rating                 21609 non-null  object
 67  total_reviews                 21609 non-null  float64
 68  region                        23823 non-null  object
 69  county                        23651 non-null  object
 70  town                          23941 non-null  object
 71  country                       23469 non-null  object
 72  seller_postcode               23256 non-null  object
 73  seller_address_one            23256 non-null  object
 74  seller_address_two            10737 non-null  object
 75  dealer_website                21867 non-null  object
 76  primary_contact_number        23829 non-null  object
dtypes: float64(27), int64(6), object(43), timedelta64[ns](1)
memory usage: 16.3+ MB

Percentage of missing values in each column in descending order.

In [6]:
print(pd.DataFrame((full_df.isnull().sum()/len(full_df))*100).sort_values(0, ascending=False).to_string())

                                      0
max_loading_weight            82.771145
zero_to_sixty_two             66.218354
gross_vehicle_weight          65.330121
seller_address_two            61.388809
number_of_owners              45.857307
price_deviation               35.399885
price_deviation_type          35.399885
price_rating                  35.399885
price_rating_label            35.399885
boot_space_seats_down         35.209292
emission_scheme               33.076812
zero_to_sixty                 29.433976
urban                         25.722814
extra_urban                   25.672468
seller_rating                 22.292146
total_reviews                 22.292146
dealer_website                21.364356
minimum_kerb_weight           20.386220
vehicle_location_postcode     17.599252
vehicle_location_latitude     17.599252
vehicle_location_longitude    17.599252
seller_postcode               16.369390
seller_address_one            16.369390
seller_longlat                16.369390
boot_space_seats_up           16.146433
seller_segment                15.603423
country                       15.603423
county                        14.948936
region                        14.330409
primary_contact_number        14.308832
seller_name                   13.909666
is_dealer_trusted             13.906070
seller_id                     13.906070
town                          13.906070
fuel_tank_capacity             7.767549
combined                       5.764528
tax                            5.588320
engine_torque                  5.347382
insurance_group                4.602992
top_speed                      4.153481
mileage_deviation              4.063579
mileage_deviation_type         4.063579
average_mileage                4.063579
page_url                       3.926928
trim                           3.653625
width                          2.880466
wheelbase                      2.776180
height                         2.707854
length                         2.585587
seats                          1.927503
co2_emission                   1.722526
co2_emissions                  1.697353
manufactured_year_identifier   1.078826
engine_size                    0.873849
vehicle_registration_mark      0.607739
mileage                        0.169016
doors                          0.140247
manufactured_year              0.075518
body_type                      0.064730
valves                         0.025173
cylinders                      0.025173
engine_power                   0.010788
derivative_id                  0.003596
fuel_type                      0.003596
transmission                   0.003596
car_condition                  0.000000
imported                       0.000000
ad_description                 0.000000
price                          0.000000
price_excluding_fees           0.000000
no_admin_fees                  0.000000
number_of_photos               0.000000
date_scraped                   0.000000
model                          0.000000
make                           0.000000
time_scraped                   0.000000
advert_id                      0.000000

## Clean Data<a id='explore_data'></a>