# Exploratory Data Analysis

This notebook aims to explore the car feature dataset and uncover trends to help predict car
prices. This notebookk will:

- rank utility of features using mutual infomation

In [1]:
from eda import *

In [2]:
df = pd.read_pickle('car_data.pkl')
df.head()

,make,model,trim,manufactured_year,body_type,mileage,engine_size,transmission,fuel_type,doors,...,combined,co2_emissions,insurance_group,seller_segment,seller_rating,total_reviews,region,county,town,ulez
1,vauxhall,astra,sxi,2007,hatchback,70000,1.4,manual,petrol,3,...,46.3,146,10e,independent,5.0,18,london,middlesex,hounslow,1
2,volkswagen,polo,moda,2010,hatchback,89000,1.2,manual,petrol,3,...,51.4,128,05e,independent,4.8,125,london,hertfordshire,barnet,1
3,vauxhall,astra,sxi,2008,hatchback,117000,1.4,manual,petrol,5,...,46.3,146,10e,independent,4.4,7,london,essex,ilford,1
4,mazda,mazda3,sport,2007,hatchback,93500,2.0,manual,petrol,5,...,35.8,189,20e,independent,5.0,18,south_west,wiltshire,swindon,1
8,mini,hatch,cooper,2004,hatchback,63977,1.6,manual,petrol,3,...,42.2,163,21e,independent,4.1,37,london,surrey,wandsworth,0

In [3]:
X = df.copy()
y = X.pop('price')

## Get mutual infomation scores

In [4]:
X = get_label_encoding_for_categoricals(X)
X.head()

,make,model,trim,manufactured_year,body_type,mileage,engine_size,transmission,fuel_type,doors,...,combined,co2_emissions,insurance_group,seller_segment,seller_rating,total_reviews,region,county,town,ulez
1,0,0,0,2007,0,70000,1.4,0,0,3,...,46.3,146,0,0,5.0,18,0,0,0,1
2,1,1,1,2010,0,89000,1.2,0,0,3,...,51.4,128,1,0,4.8,125,0,1,1,1
3,0,0,0,2008,0,117000,1.4,0,0,5,...,46.3,146,0,0,4.4,7,0,2,2,1
4,2,2,2,2007,0,93500,2.0,0,0,5,...,35.8,189,2,0,5.0,18,1,3,3,1
8,3,3,3,2004,0,63977,1.6,0,0,3,...,42.2,163,3,0,4.1,37,0,4,4,0

In [5]:
mi_scores = make_mi_scores(X, y)
mi_scores[::3]

length                1.002429
wheelbase             0.775242
height                0.654306
engine_power          0.567979
fuel_tank_capacity    0.294966
make                  0.249186
top_speed             0.233635
engine_size           0.212903
extra_urban           0.180384
transmission          0.119208
county                0.107601
cylinders             0.082710
region                0.050022
seats                 0.019872
Name: MI Scores, dtype: float64